# directories
.azure/
.nx/
.git/
.vite-config/
.vite-inspect/
.vscode/
infra/
**/bin/
**/dist/
**/node_modules/
**/obj/

# files
Dockerfile*
**/*.DS_Store
**/*.env
**/*.md
**/*.tmp
**/*.tsbuildinfo
**/lerna-debug.log
